* {
  font-family: 'Timber Font';
}

.bootstrap-switch {
  border: 0;
}

.logoobject {
  width: 50%;
}

.centered-logo {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.landing-container {
  margin-top: 50px;
}

.sc-panel {
  text-align: center;
  color: #eee;
  margin-bottom: 50px;
}

.content {
  background-image: url('../img/png/content_pattern.png');
  background-size: 100%;
  background-repeat: repeat-y;
  padding: 3px;
  padding-top: 10px;
}

.content-top-border-6 {
  background-image: url('../img/png/content_topborder.png');
  background-size: 100%;
  min-height: 3px;
  background-repeat: no-repeat;
}

.content-top-border-12 {
  background-image: url('../img/png/content_topborder.png');
  background-size: 100%;
  min-height: 5px;
  background-repeat: no-repeat;
}

.content-bottom-border-6 {
  background-image: url('../img/png/content_bottomborder.png');
  background-size: 100%;
  min-height: 3px;
  background-repeat: no-repeat;
}

.content-bottom-border-12 {
  background-image: url('../img/png/content_bottomborder.png');
  background-size: 100%;
  min-height: 5px;
  background-repeat: no-repeat;
}

.sc-start-image {
  margin-bottom: 15px;
}

.star-column {
  margin-bottom: 50px;
}

.star {
  max-height: 100px;
}

.task-text {
  text-align: left;
  margin-left: 25px;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  line-height: 3rem;
}

.task-video {
  margin-right: 25px;
}

@media (min-width: 768px) {
  .logoobject {
    width: 30%;
  }

  .landing-container {
    margin-top: 100px;
  }

  .content-top-border-6 {
    min-height: 8px;
  }

  .content-top-border-12 {
    min-height: 18px;
  }

  .content-bottom-border-6 {
    min-height: 8px;
  }

  .content-bottom-border-12 {
    min-height: 18px;
  }
}

@media (min-width: 1024px) {
  .logoobject {
    width: 25%;
  }

  .landing-container {
    margin-top: 175px;
  }

  .content-top-border-6 {
    min-height: 10px;
  }

  .content-top-border-12 {
    min-height: 25px;
  }

  .content-bottom-border-6 {
    min-height: 10px;
  }

  .content-bottom-border-12 {
    min-height: 25px;
  }
}

@media (min-width: 1440px) {
  .logoobject {
    width: 25%;
  }

  .landing-container {
    margin-top: 200px;
  }

  .content-top-border-6 {
    min-height: 13px;
  }

  .content-top-border-12 {
    min-height: 31px;
  }

  .content-bottom-border-6 {
    min-height: 13px;
  }

  .content-bottom-border-12 {
    min-height: 35px;
  }
}

@media (min-width: 1920px) {
  .logoobject {
    width: 20%;
  }

  .landing-container {
    margin-top: 250px;
  }
}

@media (min-width: 2560px) {
  .landing-container {
    margin-top: 320px;
  }
}
