.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bg-heaven {
  background-image: linear-gradient(180deg, #32DAC0 0%, #EEF6BB 40%);
}

.bg-landscape {
  background-image: url('../img/svg/background_landscape.svg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 0 bottom;
}

.bg-clouds {
  background-image: url('../img/svg/background_clouds.svg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 0 bottom;
}
